.scroll {
  opacity: 0;
  transition: opacity 500ms;
}

.scroll.scrolled {
  opacity: 1;
}

.scrolled.slide-left {
  animation: slide-in-left 1s ease-in-out both;
}
@keyframes slide-in-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.scrolled.slide-right {
  animation: slide-in-right 1s ease-in-out both;
}
@keyframes slide-in-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.scrolled.slide-left1 {
  animation: slide-in-left 1s ease-in-out both;
}
.scrolled.slide-right1 {
  animation: slide-in-right 1.5s ease-in-out both;
}
.scrolled.slide-left2 {
  animation: slide-in-left 2s ease-in-out both;
}
.scrolled.slide-right2 {
  animation: slide-in-right 2.5s ease-in-out both;
}
.scrolled.slide-left3 {
  animation: slide-in-left 3s ease-in-out both;
}

.scrolled.slide-top {
  animation: slide-in-top 1s ease-in-out both;
}
@keyframes slide-in-top {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.scrolled.slide-to-full {
  animation: slideFull 3s ease-in-out;
}
@keyframes slideFull{
  from{
    width: 0;
  }
}

.scrolled.change-color{
  background-color: #0A0A0A;
}